n8n_canada_asset_agant.json
{
  "name": "canada_asset_agent_v1_1",
  "nodes": [
    {
      "parameters": {},
      "id": "manual_trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [220, 300]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            { "name": "action", "value": "freeze_snapshot" },
            { "name": "arrival_date", "value": "2026-05-31" },
            { "name": "weekend_policy", "value": "prior-business-day" },
            { "name": "snapshot_file", "value": "lots_master_canada_snapshot_2026-05-31.csv" }
          ],
          "boolean": [
            { "name": "fail_on_manual_review", "value": true }
          ]
        }
      },
      "id": "set_action",
      "name": "Set Action",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [430, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{$json.action}}",
                    "rightValue": "build_lots_master",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{$json.action}}",
                    "rightValue": "freeze_snapshot",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{$json.action}}",
                    "rightValue": "validate_snapshot",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        }
      },
      "id": "switch_action",
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "command": "=python3 /files/scripts/run_action.py --action build_lots_master"
      },
      "id": "exec_build",
      "name": "Execute Build Lots Master",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [900, 140]
    },
    {
      "parameters": {
        "command": "=python3 /files/scripts/run_action.py --action freeze_snapshot --arrival-date {{$json.arrival_date}} --weekend-policy {{$json.weekend_policy}}{{$json.fail_on_manual_review ? ' --fail-on-manual-review' : ''}}"
      },
      "id": "exec_freeze",
      "name": "Execute Freeze Snapshot",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "command": "=python3 /files/scripts/run_action.py --action validate_snapshot --snapshot-file {{$json.snapshot_file}}{{$json.fail_on_manual_review ? ' --fail-on-manual-review' : ''}}"
      },
      "id": "exec_validate",
      "name": "Execute Validate Snapshot",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [900, 460]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.stdout || '';\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  parsed = {\n    status: 'ERROR',\n    action: $item(0).$node['Set Action'].json.action,\n    stdout: raw,\n    stderr: $json.stderr || 'Unable to parse wrapper JSON output',\n    artifacts: {}\n  };\n}\nreturn [{ json: parsed }];"
      },
      "id": "parse_result",
      "name": "Parse Command Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{$json.action}}",
                    "rightValue": "build_lots_master",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{$json.action}}",
                    "rightValue": "freeze_snapshot",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{$json.action}}",
                    "rightValue": "validate_snapshot",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        }
      },
      "id": "switch_post_action",
      "name": "Switch Post Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1360, 300]
    },

    {
      "parameters": {
        "operation": "clear",
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Lots_Master",
        "options": {}
      },
      "id": "clear_lots_master",
      "name": "Clear Lots_Master",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1610, 80],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "filePath": "={{$json.artifacts.lots_master_csv}}"
      },
      "id": "read_lots_csv",
      "name": "Read Lots_Master CSV",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [1830, 80]
    },
    {
      "parameters": {
        "operation": "fromFile",
        "binaryPropertyName": "data",
        "options": {
          "headerRow": true
        }
      },
      "id": "parse_lots_csv",
      "name": "Parse Lots_Master CSV",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [2050, 80]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Lots_Master",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "account": "={{$json.account}}",
            "ticker": "={{$json.ticker}}",
            "acquisition_date": "={{$json.acquisition_date}}",
            "open_quantity": "={{$json.open_quantity}}",
            "unit_cost_usd": "={{$json.unit_cost_usd}}",
            "total_cost_basis_usd": "={{$json.total_cost_basis_usd}}",
            "source": "={{$json.source}}",
            "notes": "",
            "last_updated_ts": "={{$now}}"
          }
        },
        "options": {}
      },
      "id": "append_lots_master",
      "name": "Append Lots_Master",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [2280, 80],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const r = $item(0).$node['Parse Command Result'].json;\nreturn [{ json: {\n  run_ts: new Date().toISOString(),\n  action: r.action || 'build_lots_master',\n  status: r.status || 'ERROR',\n  arrival_date: '',\n  valuation_date: '',\n  weekend_policy: '',\n  input_file: '',\n  output_file: r.artifacts?.lots_master_csv || '',\n  row_count: '',\n  rows_frozen: '',\n  rows_manual_review: '',\n  message: r.stderr || r.stdout || '',\n  artifact_path: JSON.stringify(r.artifacts || {}),\n  run_id: ''\n}}];"
      },
      "id": "build_audit_build",
      "name": "Build Audit Row - Build",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2510, 80]
    },

    {
      "parameters": {
        "operation": "clear",
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Snapshot_Lots",
        "options": {}
      },
      "id": "clear_snapshot_lots",
      "name": "Clear Snapshot_Lots",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1610, 260],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "filePath": "={{$json.artifacts.snapshot_csv}}"
      },
      "id": "read_snapshot_csv",
      "name": "Read Snapshot_Lots CSV",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [1830, 260]
    },
    {
      "parameters": {
        "operation": "fromFile",
        "binaryPropertyName": "data",
        "options": {
          "headerRow": true
        }
      },
      "id": "parse_snapshot_csv",
      "name": "Parse Snapshot_Lots CSV",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [2050, 260]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Snapshot_Lots",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "account": "={{$json.account}}",
            "ticker": "={{$json.ticker}}",
            "acquisition_date": "={{$json.acquisition_date}}",
            "open_quantity": "={{$json.open_quantity}}",
            "unit_cost_usd": "={{$json.unit_cost_usd}}",
            "total_cost_basis_usd": "={{$json.total_cost_basis_usd}}",
            "source": "={{$json.source}}",
            "canada_arrival_date": "={{$json.canada_arrival_date}}",
            "arrival_day_price_usd": "={{$json.arrival_day_price_usd}}",
            "arrival_day_fmv_usd": "={{$json.arrival_day_fmv_usd}}",
            "usd_cad_fx_on_arrival": "={{$json.usd_cad_fx_on_arrival}}",
            "arrival_day_fmv_cad": "={{$json.arrival_day_fmv_cad}}",
            "price_source_type": "={{$json.price_source_type}}",
            "price_source_date": "={{$json.price_source_date}}",
            "fx_source_type": "={{$json.fx_source_type}}",
            "fx_source_date": "={{$json.fx_source_date}}",
            "snapshot_run_id": "={{$json.snapshot_run_id}}",
            "snapshot_frozen_at": "={{$json.snapshot_frozen_at}}",
            "snapshot_status": "={{$json.snapshot_status}}",
            "snapshot_notes": "={{$json.snapshot_notes}}"
          }
        },
        "options": {}
      },
      "id": "append_snapshot_lots",
      "name": "Append Snapshot_Lots",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [2280, 260],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Snapshot_Summary",
        "options": {}
      },
      "id": "clear_snapshot_summary",
      "name": "Clear Snapshot_Summary",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [2510, 260],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "filePath": "={{$item(0).$node['Parse Command Result'].json.artifacts.summary_csv}}"
      },
      "id": "read_snapshot_summary_csv",
      "name": "Read Snapshot_Summary CSV",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [2730, 260]
    },
    {
      "parameters": {
        "operation": "fromFile",
        "binaryPropertyName": "data",
        "options": {
          "headerRow": true
        }
      },
      "id": "parse_snapshot_summary_csv",
      "name": "Parse Snapshot_Summary CSV",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [2950, 260]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Snapshot_Summary",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "account": "={{$json.account}}",
            "ticker": "={{$json.ticker}}",
            "price_source_type": "={{$json.price_source_type}}",
            "snapshot_status": "={{$json.snapshot_status}}",
            "lots": "={{$json.lots}}",
            "open_quantity": "={{$json.open_quantity}}",
            "arrival_day_price_usd": "={{$json.arrival_day_price_usd}}",
            "arrival_day_fmv_usd": "={{$json.arrival_day_fmv_usd}}",
            "arrival_day_fmv_cad": "={{$json.arrival_day_fmv_cad}}"
          }
        },
        "options": {}
      },
      "id": "append_snapshot_summary",
      "name": "Append Snapshot_Summary",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [3180, 260],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const r = $item(0).$node['Parse Command Result'].json;\nreturn [{ json: {\n  run_ts: new Date().toISOString(),\n  action: r.action || 'freeze_snapshot',\n  status: r.status || 'ERROR',\n  arrival_date: $item(0).$node['Set Action'].json.arrival_date || '',\n  valuation_date: $item(0).$node['Set Action'].json.arrival_date || '',\n  weekend_policy: $item(0).$node['Set Action'].json.weekend_policy || '',\n  input_file: '',\n  output_file: r.artifacts?.snapshot_csv || '',\n  row_count: '',\n  rows_frozen: '',\n  rows_manual_review: '',\n  message: r.stderr || r.stdout || '',\n  artifact_path: JSON.stringify(r.artifacts || {}),\n  run_id: ''\n}}];"
      },
      "id": "build_audit_freeze",
      "name": "Build Audit Row - Freeze",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3410, 260]
    },

    {
      "parameters": {
        "jsCode": "const r = $item(0).$node['Parse Command Result'].json;\nreturn [{ json: {\n  run_ts: new Date().toISOString(),\n  action: r.action || 'validate_snapshot',\n  status: r.status || 'ERROR',\n  arrival_date: $item(0).$node['Set Action'].json.arrival_date || '',\n  valuation_date: $item(0).$node['Set Action'].json.arrival_date || '',\n  weekend_policy: $item(0).$node['Set Action'].json.weekend_policy || '',\n  input_file: $item(0).$node['Set Action'].json.snapshot_file || '',\n  output_file: r.artifacts?.validated_snapshot_csv || '',\n  row_count: '',\n  rows_frozen: '',\n  rows_manual_review: '',\n  message: r.stderr || r.stdout || '',\n  artifact_path: JSON.stringify(r.artifacts || {}),\n  run_id: ''\n}}];"
      },
      "id": "build_audit_validate",
      "name": "Build Audit Row - Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1610, 500]
    },

    {
      "parameters": {
        "operation": "append",
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Audit_Log",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_ts": "={{$json.run_ts}}",
            "action": "={{$json.action}}",
            "status": "={{$json.status}}",
            "arrival_date": "={{$json.arrival_date}}",
            "valuation_date": "={{$json.valuation_date}}",
            "weekend_policy": "={{$json.weekend_policy}}",
            "input_file": "={{$json.input_file}}",
            "output_file": "={{$json.output_file}}",
            "row_count": "={{$json.row_count}}",
            "rows_frozen": "={{$json.rows_frozen}}",
            "rows_manual_review": "={{$json.rows_manual_review}}",
            "message": "={{$json.message}}",
            "artifact_path": "={{$json.artifact_path}}",
            "run_id": "={{$json.run_id}}"
          }
        },
        "options": {}
      },
      "id": "append_audit",
      "name": "Append Audit Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [3640, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "v1.1 behavior:\\n- build_lots_master => clear + rewrite Lots_Master\\n- freeze_snapshot => clear + rewrite Snapshot_Lots and Snapshot_Summary\\n- validate_snapshot => append Audit_Log only\\n\\nReplace placeholders before testing.",
        "height": 220,
        "width": 360
      },
      "id": "note_1",
      "name": "Operator Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [220, 40]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Action": {
      "main": [
        [
          {
            "node": "Switch Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action": {
      "main": [
        [
          {
            "node": "Execute Build Lots Master",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Freeze Snapshot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Validate Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Build Lots Master": {
      "main": [
        [
          {
            "node": "Parse Command Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Freeze Snapshot": {
      "main": [
        [
          {
            "node": "Parse Command Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Validate Snapshot": {
      "main": [
        [
          {
            "node": "Parse Command Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Command Result": {
      "main": [
        [
          {
            "node": "Switch Post Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Post Action": {
      "main": [
        [
          {
            "node": "Clear Lots_Master",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Clear Snapshot_Lots",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Audit Row - Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },

    "Clear Lots_Master": {
      "main": [
        [
          {
            "node": "Read Lots_Master CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Lots_Master CSV": {
      "main": [
        [
          {
            "node": "Parse Lots_Master CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Lots_Master CSV": {
      "main": [
        [
          {
            "node": "Append Lots_Master",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Lots_Master": {
      "main": [
        [
          {
            "node": "Build Audit Row - Build",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },

    "Clear Snapshot_Lots": {
      "main": [
        [
          {
            "node": "Read Snapshot_Lots CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Snapshot_Lots CSV": {
      "main": [
        [
          {
            "node": "Parse Snapshot_Lots CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Snapshot_Lots CSV": {
      "main": [
        [
          {
            "node": "Append Snapshot_Lots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Snapshot_Lots": {
      "main": [
        [
          {
            "node": "Clear Snapshot_Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Snapshot_Summary": {
      "main": [
        [
          {
            "node": "Read Snapshot_Summary CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Snapshot_Summary CSV": {
      "main": [
        [
          {
            "node": "Parse Snapshot_Summary CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Snapshot_Summary CSV": {
      "main": [
        [
          {
            "node": "Append Snapshot_Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Snapshot_Summary": {
      "main": [
        [
          {
            "node": "Build Audit Row - Freeze",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },

    "Build Audit Row - Build": {
      "main": [
        [
          {
            "node": "Append Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Audit Row - Freeze": {
      "main": [
        [
          {
            "node": "Append Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Audit Row - Validate": {
      "main": [
        [
          {
            "node": "Append Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "canada-asset-agent-v1-1"
}
